autoflake==2.3.1
black==24.10.0
cfgv==3.4.0
click==8.1.7
confluent-kafka==2.6.0
distlib==0.3.9
filelock==3.16.1
identify==2.6.1
isort==5.13.2
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pre_commit==4.0.1
psycopg2-binary==2.9.10
pyflakes==3.2.0
PyYAML==6.0.2
setuptools==75.1.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
virtualenv==20.27.1
wheel==0.44.0
